.form {
  margin-top: 50px;

  &__input {
    @include form-input;
    border: none;
    background: transparent;
    border-bottom: 1px solid #fff;
  }

  &__submit {
    padding: 10px 20px;
    width: 100%;
  }
}