.header {
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__link {
    display: block;
    text-decoration: none;

  }

  &__logo {
    width: 70px;
    height: 70px;
  }

  &__modalWrapper {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(1.5px);
  }

  &__modal {
    position: relative;
    background-color: $main-color;
    width: 300px;
    margin: auto;
    transform: translateY(-50%);
    top: 50%;
    padding: 30px;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 8px;
  }

  &__modal-text {
    font-weight: bold;
    color: white;
    margin: 30px auto;
    font-size: 20px;
  }

  &__modal-input {
    @include form-input;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }

  &__btn-submit {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 20px;
    margin: 10px auto 30px 0;
    color: $main-color;
    background: white;
    border-radius: 5px;
  }

  &__modal-close {
    font-size: 30px;
    font-weight: bold;
    color: white;
    float: right;
    cursor: pointer;
  }

  &__btn, &__btn-create {
    @include btn;
    padding: 5px 20px;
  }

  &__btn:hover, &__btn-create:hover {
    @include btn-hover;
  }
}

