.section {
  padding: 50px;

  &__form-wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__form-search {
    font-size: 20px;
    border: 5px solid $main-color;
    border-radius: 5px;
    margin-right: 20px;
  }
  &__form-select1{
    @include form-select;
    margin-right: 20px;
  }
  &__form-select2{
    @include form-select;
    margin-right: 20px;
  }
  &__form-btn{
    @include btn;
  }
  &__form-btn:hover{
    @include btn-hover;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: center;
}