.visit{
  padding: 20px;
  margin-bottom: 20px;
  max-height: max-content;
  border: 2px $main-color solid;
  border-radius: 20px;
  display: inline-block;
  cursor: move;
  transition: .3s;

  &__head {
    font-weight: 900;
    font-size: 20px;
    color: $main-color;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 17px;
    display: block;
    margin-bottom: 15px;
  }
  &__text:first-child {
    font-size: 40px;
  }


  &__btn {
    @include btn;
    padding: 0 10px;
    margin-right: 20px;
    margin-bottom: 14px;
  }

  &__btn:hover {
    @include btn-hover;
  }
}


.selected {
  opacity: 0.6;
}