html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

select {
  outline: none;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

textarea {
  outline: none;
}

.header {
  padding: 15px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__link {
  display: block;
  text-decoration: none;
}
.header__logo {
  width: 70px;
  height: 70px;
}
.header__modalWrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.5px);
}
.header__modal {
  position: relative;
  background-color: #8d81ac;
  width: 300px;
  margin: auto;
  transform: translateY(-50%);
  top: 50%;
  padding: 30px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
.header__modal-text {
  font-weight: bold;
  color: white;
  margin: 30px auto;
  font-size: 20px;
}
.header__modal-input {
  font-size: 20px;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.header__btn-submit {
  font-size: 20px;
  font-weight: bold;
  padding: 5px 20px;
  margin: 10px auto 30px 0;
  color: #8d81ac;
  background: white;
  border-radius: 5px;
}
.header__modal-close {
  font-size: 30px;
  font-weight: bold;
  color: white;
  float: right;
  cursor: pointer;
}
.header__btn, .header__btn-create {
  border: 5px #8d81ac solid;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #8d81ac;
  border-radius: 5px;
  transition: 0.3s;
  padding: 5px 20px;
}
.header__btn:hover, .header__btn-create:hover {
  border: 5px solid #8d81ac;
  color: #8d81ac;
  background: white;
}

.section {
  padding: 50px;
}
.section__form-wrapper {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__form-search {
  font-size: 20px;
  border: 5px solid #8d81ac;
  border-radius: 5px;
  margin-right: 20px;
}
.section__form-select1 {
  font-size: 20px;
  border: 5px solid #8d81ac;
  border-radius: 5px;
  margin-right: 20px;
}
.section__form-select2 {
  font-size: 20px;
  border: 5px solid #8d81ac;
  border-radius: 5px;
  margin-right: 20px;
}
.section__form-btn {
  border: 5px #8d81ac solid;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #8d81ac;
  border-radius: 5px;
  transition: 0.3s;
}
.section__form-btn:hover {
  border: 5px solid #8d81ac;
  color: #8d81ac;
  background: white;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  justify-content: center;
}

.visit {
  padding: 20px;
  margin-bottom: 20px;
  max-height: max-content;
  border: 2px #8d81ac solid;
  border-radius: 20px;
  display: inline-block;
  cursor: move;
  transition: 0.3s;
}
.visit__head {
  font-weight: 900;
  font-size: 20px;
  color: #8d81ac;
  margin-bottom: 20px;
}
.visit__text {
  font-size: 17px;
  display: block;
  margin-bottom: 15px;
}
.visit__text:first-child {
  font-size: 40px;
}
.visit__btn {
  border: 5px #8d81ac solid;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: #8d81ac;
  border-radius: 5px;
  transition: 0.3s;
  padding: 0 10px;
  margin-right: 20px;
}
.visit__btn:hover {
  border: 5px solid #8d81ac;
  color: #8d81ac;
  background: white;
}

.selected {
  opacity: 0.6;
}

.form {
  margin-top: 50px;
}
.form__input {
  font-size: 20px;
  width: 100%;
  padding: 10px 0;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #fff;
}
.form__submit {
  padding: 10px 20px;
  width: 100%;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: url("../img/fon6.jpg") no-repeat center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
}

/*# sourceMappingURL=main.css.map */
